﻿@model LoginViewModel

@{
    ViewData["Title"] = "Вход в систему";
}

<h2 class="my-3">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
            <div class="form-group">
                <p>
                    @* <a asp-action="ForgotPassword">Забыли пароль?</a> *@
                </p>
            </div>
        </form>
    </div>
</div>

@*   
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

    if (loginProviders.Count == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                    }
                </p>
            </div>
        </form>
    }                       
*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
