﻿* {
    padding: 0;
    margin: 0;
    outline: 0 !important;
}

html, body { height: 100%; }

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    margin-top: 20px;
    padding-bottom: 70px;
}

#footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}