﻿@model List<FileDb>

@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center" >
        <h3>Выберите файл для загрузки</h3>
        <form asp-controller="Home" asp-action="AddFile" method="post" enctype="multipart/form-data">
            <input type="file" name="uploadedFile" accept=".doc, .docx, .xls, .xlsx, .ppt, .pptx" />
            <input type="submit" value="Загрузить" class="btn btn-primary" />
        </form>
    </div>
</div>

<h3 class="text-center mb-4">Мои файлы</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Статус</th>
            <th>Размер файла</th>
            <th>Дата</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Name</td>
                <td>@file.Status.GetDisplayName()</td>
                @if (file.Filesize > 1024 * 1024)
                {
                    <td>@Math.Round(file.Filesize / (1024d * 1024), 2) Мб</td>
                }
                else
                {
                    <td>@Math.Round(file.Filesize / 1024d, 2) кб</td>
                }
                <td>@file.DateUpload</td>
                <td>
                    @if (file.Status == FileUploaderStatus.Ok)
                    {
                        <a target="_blank" href="/show/@file.Hash">Открыть</a>
                    }
                    <a href="/Home/Cabinet/?DeleteFileId=@file.Id">Удалить файл</a>
                </td>
            </tr>
        }
    </tbody>
</table>
