﻿@{
    ViewData["Title"] = "Демонастрация API";
}

<div class="card">
    <div class="card-header">
        Загрузка файла /Api/Upload
    </div>
    <div class="card-body">
        <form asp-action="Upload" asp-controller="Api" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ключ API</label>
                <div class="col-sm-4">
                    <input type="text" name="key" value="" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Файл</label>
                <div class="col-sm-4">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        Проверка файла /Api/Get
    </div>
    <div class="card-body">
        <form asp-action="Get" asp-controller="Api" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ключ API</label>
                <div class="col-sm-4">
                    <input type="text" name="key" value="" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">File Id</label>
                <div class="col-sm-4">
                    <input type="text" name="FileId" value="" class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Проверить</button>
        </form>
    </div>
</div>

