﻿@{
    ViewData["Title"] = "Предпросмотр файлов Office";
}

<div class="container" style="text-align: center;">
    <h2 class="display-4" style="font-size: 3rem">Просматривай файлы Word, Excel и PowerPoint</h2>
    <p class="lead">с устройств без пакета Microsoft Office...</p>
</div>

<div class="row">
    <div class="col" style="text-align: center;">
        <img class="card-img-top" src="~/Images/download.png" style="max-width: 50%;" /><br />
        <div>Загружай</div>
    </div>

    <div class="col" style="text-align: center;">
        <img class="card-img-top" src="~/Images/refresh.png" style="max-width: 50%;" /><br />
        <div>Конвертируй</div>
    </div>

    <div class="col" style="text-align: center;">
        <img class="card-img-top" src="~/Images/list.png" style="max-width: 50%;" /><br />
        <div>Просматривай</div>
    </div>
</div>

<div class="container" style="text-align: center;">
    <br /><br /><br />
    <h2 class="display-5">Просто зарегистрируйся и начни работу!</h2>
    <br /><br />
</div>