﻿@model FileDb

@{
    ViewData["Title"] = Model?.Name;
}

<div class="text-center">
    <h3>Файл &laquo;@Model.Name&raquo; от @Model.DateUpload</h3>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="@(i-1)" class="@(i == 1 ? "active" :"")" style="background-color: #000"></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (int i = 1; i <= Model.Pages; i++)
        {
            string filename = ("/ConvertedImages/" + Model.Hash + "_" + i.ToString() + ".png");
            var activeClass = (i == 1) ? "active" : "";

            <div class="carousel-item @activeClass">
                <img class="d-block w-100" src="@filename" alt="@i" style="max-width: 1000px" />
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


