﻿@{
    ViewData["Title"] = "Документация API";
}

<div class="">
    <h2>Загрузка файлов</h2>
    <div>Параметры, передаваемые методом POST на адрес /Api/Upload</div>
    <ul>
        <li>key - Ключ доступа к API</li>
        <li>file - Файл в формате документа Word, Excel или PowerPoint</li>
    </ul>
    <div>Параметры ответа в формате JSON:</div>
    <ul>
        <li>Status - Статус загрузки файла</li>
        <li>FileId - Идентификатор загруженного файла</li>
        <li>Message - Подробное описание статуса</li>
    </ul>
</div>

<div class="mt-4">
    <h2>Получение информации о файле</h2>
    <div>Параметры, передаваемые методом POST на адрес /Api/Upload</div>
    <ul>
        <li>key - Ключ доступа к API</li>
        <li>FileId - Идентификатор файла</li>
    </ul>
    <div>Параметры ответа в формате JSON:</div>
    <ul>
        <li>Status - Статус обработки файла</li>
        <li>FileId - Идентификатор загруженного файла</li>
        <li>Images - Список url файлов-картинок в случае, если файл обработан</li>
    </ul>
</div>

<div class="mt-4">
    <h2>Статус-коды сервиса</h2>
    <ul>
        <li>1 - Файл добавлен в очередь на обработку</li>
        <li>2 - Файл обрабатывается</li>
        <li>3 - Файл успешно обработан</li>
        <li>4 - Ошибка, возникшая в ходе обработки файла (неверный внутренний формат)</li>
        <li>902 - Файл не загружен</li>
        <li>903 - Файл имеет слишком большой размер</li>
        <li>904 - Файл имеет запрещенный формат</li>
        <li>905 - Аутентификация не пройдена</li>
        <li>906 - Запрашиваемый файл не найден</li>
    </ul>
</div>

<a asp-controller="Home" asp-action="Demo" class="btn btn-primary">Демострация работы Api</a>