﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" href="/">Office Preview</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto"></ul>
                    <span class="navbar-text">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Manage" asp-action="Index">@User.Identity.Name</a>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                            <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        }
                    </span>
                </div>
            </div>
        </nav>

        <div class="container body-content" id="content">
            <!-- Notify -->
            @if (ViewBag.Notify != null)
            {
                @foreach (KeyValuePair<string, IList<string>> t_notify in ViewBag.Notify)
                {
                    <div class='alert alert-@t_notify.Key' role="alert">
                        @foreach (string t_message in t_notify.Value)
                    {
                            <div>@Html.Raw(t_message)</div>
                        }
                    </div>
                }
            }

            @RenderBody()
        </div>
        <div id="footer">
            <div class="container body-content">
                <hr />
                <p>&copy; @DateTime.Now.ToString("yyyy") - Сервис предпросмотра файлов Microsoft Office</p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>