﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using WebOfficePreview.Views.Manage
@{
    var rv = ViewContext.RouteData.Values;
    var currAction = rv["Action"].ToString().ToLowerInvariant();
}

<h2 class="my-3">@ViewData["Title"]</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-action="Index">Профиль</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-action="ChangePassword">Изменение пароля</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ApiNavClass(ViewContext)" asp-action="Api">API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">External logins</a>
    </li>
</ul>

@*
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a >Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a >External logins</a></li>
    }
</ul>
*@

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}

