﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Доступ к API";
}

<div class="my-4">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Ваш ключ API</label>
        <div class="col-sm-4">
            <input name="key" value="@User.Claims.FirstOrDefault(x => x.Type == "ApiHash")?.Value" class="form-control" /><br />
            <a href="/Api">Документация Api</a> / <a href="/Home/Demo">Демонстрация работы Api</a>
        </div>
    </div>
</div>