﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
  
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="OldPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="OldPassword" class="form-control" />
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="NewPassword" class="form-control" />
        </div>
        
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
        
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сменить пароль</button>
</form>
   
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
